@import url('https://fonts.googleapis.com/css?family=Lato:100,400');

.wrapper {
  @media (min-width: 300px) {
    display: flex;
    flex-direction: column;
  }
  @media (min-width: 800px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.todo-comp-wrapper {
  display: flex;
  justify-content: space-between;
  @media (min-width: 300px) {
    width: 100%
  }
  @media (min-width: 800px) {
    width: 70%
  }
  @media (min-width: 1020px) {
    width: 60%
  }
}

.todo-list-wrapper {
  width: 100%;
}

kendo-chart {
  @media (min-width: 300px) {
    width: 100%   
  }
  @media (min-width: 800px) {
    width: 25%
  }
  @media (min-width: 1020px) {
    width: 35%
  }
}

.todo-list {
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(0,0,0,0.7511379551820728) 43%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.new-todo-input, .todo {
  padding: 0;
  width: 100%;
  display: block;
  font-size: 18px;
  line-height: 50px;
  text-align: center;

  @media (max-width: 600px) {
    font-size: 16px;
  }
}

.new-todo-input {
  margin: 25px 0;
  height: 50px;
  border: 0.5px solid;

  &:hover {
    border: 0.5px solid;
  }
}

.todo {
  @media (min-width: 300px) {
    padding: 0 0.5rem;
  }
  
  @media (min-width: 600px) {
    padding: 0 2rem;
  }

  @media (min-width: 1020px) {
    padding: 0 5rem;
  }

  display: flex;
  justify-content: space-between;
  align-content: center;
  min-height: 50px;

  background: none;
  border: none;
  border-radius: 0;
  color: white;
  overflow: hidden;
  transition: 125ms ease background-color;

  &:hover {
    background-image: none;
    color: hsl(0, 90%, 56%);
  }

  span:hover {
    text-decoration: line-through;
  }
}

$todos: 45;
@for $i from 1 through $todos {
  .todo:nth-last-child(#{$i}n) {
    background-color: hsl((360deg / $todos * $i), 75%, 75%);
  }
}

.finished-list {
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 60px;
  font-weight: 100;
}


// time picker customizing styles

.kendo-timepicker {
  height: 30px;
    width: 30px;
}

.k-timepicker:hover,
.k-timepicker:hover .k-select,
.k-timepicker .k-picker-wrap,
.k-dateinput .k-dateinput-wrap,
.k-timepicker .k-select {
  background: none;
  border: none;
}

.k-timepicker:hover .k-select {
  background-image: none;
}

.k-dateinput-wrap .k-input,
.k-timepicker .k-select {
  color: rgb(255, 255, 255) !important;
}

.k-dateinput-wrap input:focus, .k-timepicker .k-state-focused {
  box-shadow: none;
}

.k-dateinput-wrap input::selection {
  background-color: transparent;
}
